<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>Add Details</h1></center>
    <center>
        <form action="/add" method="post">
            <table>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" name="name" id="" required></td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td><input type="text" name="address" id="" required></td>
                </tr>
                <tr>
                    <td>Math Marks:</td>
                    <td><input type="number" name="math" id="" required></td>
                </tr>
                <tr>
                    <td>English Marks:</td>
                    <td><input type="number" name="english" id="" required></td>
                </tr>
                <tr>
                    <td>Science Marks:</td>
                    <td><input type="number" name="science" id="" required></td>
                </tr>
                <tr>
                    <td>Sanskrit Marks:</td>
                    <td><input type="number" name="sanskrit" id="" required></td>
                </tr>
                <tr>
                    <td>Evs Marks:</td>
                    <td><input type="number" name="evs" id="" required></td>
                </tr>

            </table>
            <br>
            <center><input type="submit" ></center>
        </form>
    </center>
</body>
</html>